<% provide(:title, 'Join an existing Team') %>
<h1>Join an existing Team</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@team, url: join_team_path) do |f| %>
      <%= f.label :token %>
      <%= f.text_field :invitation_token, class: 'form-control' %>

      <%= f.submit "Join Team", class: "btn btn-primary" %>
    <% end %>
    <h3>Or</h3>
    <%= link_to 'Create a new team',new_team_path %>
  </div>
</div>
