<% provide(:title, 'Create a Team') %>
<h1>Create a Team</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@team, url: new_team_path) do |f| %>
      <%= render 'shared/error_messages', obj: @team %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.submit "Create Team", class: "btn btn-primary" %>

    <% end %>
    <h3>Or</h3>
    <%= link_to 'Join an existing Team',join_team_path %>
  </div>
</div>
