<div class="col-md-6 col-md-offset-3">
  <div class="row">
    <% provide(:title, "Log in") %>
    <h1>Log in</h1>
  </div>

  <div class="row">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email, 'Username or Email address' %>
      <%= f.text_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= link_to "(forgot password)", new_password_reset_path %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>
