<% provide(:title, 'Create a CTF') %>
<h1>Create a CTF</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@ctf, url: new_ctf_path) do |f| %>
      <%= render 'shared/error_messages', obj: @ctf %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :info %>
      <%= f.text_field :info, class: 'form-control' %>

      <%= f.label :max_teammates %>
      <%= f.text_field :max_teammates, class: 'form-control', list: 'max_teammates', size: 5 %>
      <datalist id="max_teammates">
        <option value="unlimited">Unlimited</option>
        <% 100.times do |m|%>
          <%= "<option value='#{m}'>#{m}</option>".html_safe %>
        <% end %>
      </datalist>
      <%= f.submit "Create CTF", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
