<% unless @users.empty? %>
  <div class="table-responsive-sm">
    <table class="table">
      <thead>
        <th>Username</th>
        <th>Status</th>
        <th></th>
        <th></th>
        <th></th>
      </thead>
      <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.name %></td>
              <td><%= user.active ? 'User is activated' : 'User is deactivated' %></td>
              <td><%= user_status_button(user) %></td>
              <td><%= user_admin_button(user) %></td>
              <td><%= user_orgainzer_button(user) %></td>
            </tr>
          <% end %>
      </tbody>
    </table>
  </div>
  <ul>
  </ul>
<% end %>
