<h1>Profile settings</h1>
<div class="col-md-6">
  <%= form_for(@user, url: settings_path) do |f| %>
    <%= render 'shared/error_messages', obj: @user %>
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', value: @user.name %>

    <%= f.label :username %>
    <%= f.text_field :username, class: 'form-control', value: @user.username %>

    <%= f.label :email %>
    <%= f.email_field :email_field, class: 'form-control', value: @user.email %>

    <%= f.submit "Update profile", class: "btn btn-primary" %>
  <% end %>
</div>
