<% provide(:title, 'Add a new challenge') %>
<h1>Add a new challenge</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@challenge, url: admin_challenge_index_path) do |f| %>
      <%= render 'shared/error_messages', obj: @challenge %>

      <%= f.label :title, 'Challenge title' %>
      <%= f.text_field :title, class: 'form-control' %>


      <div class="dropdown">
        <%= f.label :category %>
        <%= f.collection_select :category_id, Category.order(:name), :id, :name, include_blank: true %>
      </div>


      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control' %>

      <%= f.label :challenge_files %>
      <%= f.file_field :challenge_files, multiple: true, direct_upload: true %>

      <%= f.label :link %>
      <%= f.text_field :link, class: 'form-control' %>

      <%= f.label :flag %>
      <%= f.text_field :flag, class: 'form-control' %>

      <%= f.label :points %>
      <%= f.number_field :points, class: 'form-control' %>

      <% unless unlimited_retries? %>
        <%= f.label :max_tries %>
        <%= f.number_field :max_tries, class: 'form-control', value: default_max_tries %>
      <% end %>

      <%= f.label :after_message, 'Message after the challenge is solved' %>
      <%= f.text_area :after_message, class: 'form-control' %>

      <%= f.label :active %>
      <%= f.check_box :active, style: 'width: auto;' %>

      <%= f.submit "Add challenge", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
