<h1>CTF Dashboard Settings</h1>
<div class="col-md-6 col-md-offset-3" style='display: flex; justify-content: space-between; align-items: center;'>
  <%= form_tag do %>
    <div id='form-body'>
      <% @ctf_settings.each do |ctf_setting| %>
        <div class='row'>
          <div class="col-md-3">
          <%= label_tag "key[]",ctf_setting.key, style: 'width: 100%; text-align: center;'%>
          </div>
          <div class="col-md-6">
          <%= ctf_setting_tag(ctf_setting) %>
          </div>
          <div class="col-md-2">
          <%= fa_icon 'trash', class: 'btn btn-danger'  %>
          </div>
        </div>
      <% end %>
    </div>
    <div>
      <span style='text-align: left;'>
        <%= button_tag 'Add a new field',
          class: "btn btn-primary",
          style: 'width: 40%;',
          type: 'button',
          id: 'add-field-btn'
        %>
      </span>
      <span style='text-align: right;'>
        <%= submit_tag 'Update', class: "btn btn-success", style: 'width: 40%;' %>
      </span>
    </div>
  <% end %>
</div>
