<% provide(:title, 'Add a new Category') %>
<h1>Add a new category</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@category, url: admin_categories_path) do |f| %>
      <%= render 'shared/error_messages', obj: @category %>

      <%= f.label :name, 'Category name' %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.submit "Add category", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
