<div class="panel panel-<%= challenge_solved?(ctf_challenge) ? "success" : "primary"%>">
  <div class="panel-heading" style='display: flex; justify-content: space-between; align-items: center;'>
    <h3 class="panel-title"><%= link_to ctf_challenge&.title, [ctf_challenge&.category, ctf_challenge] %></h3>
    <div style='display: flex;'>
      <b>Built by: </b>
      &nbsp;
      <div>
        <%= gravatar_for(ctf_challenge.user, size: 20) %>
        <%= link_to ctf_challenge.user.name, ctf_challenge.user, style: 'color: white;', target: '_blank' %>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <%= ctf_challenge&.description.to_md.html_safe %>
    <%= yield %>
    <%= render 'challenges/challenge_files_section', challenge_files: ctf_challenge&.challenge_files %>
    <%= render 'challenges/challenge_valid_submissions' %>
  </div>
  <div class="panel-footer">
    <table style='width: 100%;'>
      <tr>
        <td>
          <div style="float:left; width:50%;">
              <span class='label label-default' style='margin-right: 0.5vw;'>
                <strong>
                  <%= ctf_challenge&.points&.to_i %> <%= ctf_challenge&.points > 1 ? 'Points' : 'Point' %>
                </strong>
              </span>
              <span class='max-tries-label label label-default' style='margin-right: 0.5vw;'>
                <strong>
                  <%= ctf_challenge&.max_tries - @team_submissions[ctf_challenge&.id].to_i %> Tries left
                </strong>
              </span>
          </div>
        </td>
        <td>
          <div style="float:right; width:50%; text-align: right;">
            <%= link_to 'Go to the challenge', category_challenge_path(ctf_challenge&.category, ctf_challenge) %>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
