<nav class="col-md-3 sidebar">
  <!-- Sidebar Header -->
  <div class="sidebar-header">
    <h3>Settings</h3>
  </div>

  <!-- Sidebar Links -->
  <ul>
    <%= link_to ctf_info_settings_path do %>
      <li class="<%= current_class?(ctf_info_settings_path) %>">CTF info</li>
    <% end %>
    <% if current_user.admin? %>
      <%= link_to admins_path do %>
        <li class="<%= current_class?(admins_path) %>">Admin</li>
      <% end %>
      <%= link_to organizers_path do %>
        <li class="<%= current_class?(organizers_path) %>">Organizers</li>
      <% end %>
    <% end %>
  </ul>
</nav>
