<nav class="col-md-3 sidebar">
  <!-- Sidebar Header -->
  <div class="sidebar-header">
    <h3>Settings</h3>
  </div>

  <!-- Sidebar Links -->
  <ul>
    <%= link_to profile_settings_path do %>
      <li class="<%= current_class?(profile_settings_path) %> settings-sidebar-links">Profile</li>
    <% end %>
    <%= link_to security_settings_path do %>
      <li class="<%= current_class?(security_settings_path) %> settings-sidebar-links">Security</li>
    <% end %>
    <%= link_to user_sessions_path do %>
      <li class="<%= current_class?(user_sessions_path) %> settings-sidebar-links">Sessions</li>
    <% end %>
  </ul>
</nav>
