<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav">
        <% if current_user&.is_admin? %>
          <%= render 'organizers/challenges' %>
          <%= render 'organizers/category' %>
        <% else %>
          <li><%= link_to "Challenges", root_path %></li>
          <li><%= link_to "Categories", root_path %></li>
        <% end %>
        <li><%= link_to "Score Board", score_board_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li style="display: flex; align-items: center;">
            <%= gravatar_for(current_user, size: 40, margin: 0) %> <%= link_to current_user.name, current_user %>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li style="padding: 3px 20px;">Signed in as <br> <%= current_user.name %></li>
              <li class="divider"></li>
              <li><%= link_to "Your profile", current_user %></li>
              <li><%= link_to "Your team", current_user.team %></li>
              <li class="divider"></li>
              <% if current_user&.is_admin? %>
                <li><%= link_to "CTF Settings", ctf_settings_path %></li>
                <li class="divider"></li>
              <% end %>
              <li><%= link_to "Settings", settings_path %></li>
              <li>
                <%= link_to "Log out", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
