<!DOCTYPE html>
<html>
  <head>
    <title>CTFDashB</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'settings_layout', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', integrity: true %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class='container-fluid'>
      <%= render 'layouts/sidebar' %>
      <div class='col-md-9 col-md-offset-3 content'>
        <br>
        <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>">
            <%= message %>
          </div>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
